@inject App.Services.PlanetService planetService

<h1>Các hành tinh trong hệ mặt trời</h1>

<div class="list-group">
    @foreach (var planet in planetService)
    {
        <a class="list-group-item list-group-item-action" asp-action= "@planet.Name">
            @planet.vnName - @planet.Name
        </a>
    }
</div>
<p>
    @Url.RouteUrl("venus3")
</p>
<p>
    @Url.RouteUrl("venus2")
</p>
<p>
    @Url.RouteUrl("venus1")
</p>